body {
    background: url('https://cdn.wallpapersafari.com/83/88/drNXzk.jpg') no-repeat center center / cover fixed;
    color: #F3D6FC;
    font-family: 'Press Start 2P', cursive;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    min-height: 100vh;
}

.home {
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.display-4 {
    font-size: calc(1.5rem + 1vw);
    text-align: center;
}

.play-btn {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 50px;
    border: 2px solid #F3D6FC;
    background-color: transparent;
    color: inherit;
    transition: 0.3s;
    text-align: center;
}

.play-btn:hover {
    background-color: #F3D6FC;
    color: #333;
    transform: scale(1.1);
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

.project-card {
    background: #F3D6FC;
    border: 2px solid #EBE2F8;
    border-radius: 50px;
    padding: 1.5rem;
    color: black;
    box-shadow: 0 4px 10px rgba(243, 214, 252, 0.5);
    max-width: 90%;
    transition: 0.3s;
    margin: 1rem 0;
}

.project-card h5, .project-card p {
    color: black;
}

.project-card:hover {
    background-color: #F3D6FC;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(243, 214, 252, 0.8);
}

@media (max-width: 768px) {
    .display-4 {
        font-size: 1.5rem;
    }

    .play-btn {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
    }

    .project-card {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .display-4 {
        font-size: 1.2rem;
    }

    .play-btn {
        padding: 0.8rem 1.2rem;
    }
}
